<% link_class = "text-blue-500 hover:text-blue-800 whitespace-no-wrap" %>

<nav>
  <ul class="flex">
    <li class="mr-6"><%= link "Home", to: "/", class: link_class %></li>
    <li class="mr-6"><%= link "Light", to: "/light", class: link_class %></li>
    <li class="mr-6"><%= link "License", to: "/license", class: link_class %></li>
    <li class="mr-6"><%= link "Sales Dashboard", to: "/sales-dashboard", class: link_class %></li>
  </ul>
</nav>
